{% unless shop.enabled_payment_types == empty %}
<ul class="payment-icon-list">
  {% assign enabled_payment_types = 'ideal,klarna,visa,master,american_express,paypal' | remove: ' ' | split: ',' %}
    {% for type in enabled_payment_types %}
    <li>{{ type | payment_type_svg_tag: class:'payment-icon' }}</li>
  {% endfor %}
</ul>
{% endunless %}
